.navbar.fixed-top.navbar-expand-lg.navbar-dark.scrolling-navbar {
  background-color: blue;
  height: 70px;
}

.nav-item {
  margin-left: 8px;
}
:hover
.nav-link.btn.btn-outline-light {
  color: white !important;
  border: 2px solid white;
}

.nav-link.btn.btn-outline-light:hover {
  color: blue !important;
  background-color: #f8f9fa;
  border: 2px solid white;
}

/* SearchBar */
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 45px;
  background-color: #fff;
  border-radius: 30px;
  padding: 3px;
  margin-left: -20px;
  }

  .search_input{
  color: #2f2a2a;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: blue;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:blue;
  }
  /* searchbar */