.navbar.fixed-top.navbar-expand-lg.navbar-dark.scrolling-navbar {
  background-color: blue;
  height: 70px;
}

.nav-item {
  margin-left: 8px;
}

:hover .nav-link.btn.btn-outline-light {
  color: white !important;
  border: 2px solid white;
}

.nav-link.btn.btn-outline-light:hover {
  color: blue !important;
  background-color: #f8f9fa;
  border: 2px solid white;
}

/* SearchBar */
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 45px;
  background-color: #fff;
  border-radius: 30px;
  padding: 3px;
  margin-left: -20px;
}

.search_input {
  color: #2f2a2a;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
  background: white;
  color: blue;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: blue;
}

/* searchbar */

/* twitter card */

.btn.btn-primary.btn-sm {
  background-color: blue;
  border: 1.5px solid white;
}

.twPc-div {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  height: 200px;
  margin-top: 120px;
  margin-left: 35px;
  max-width: 340px; // orginal twitter width: 290px;
}

.twPc-bg {
  background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
  background-position: 0 50%;
  background-size: 100% auto;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 4px 4px 0 0;
  height: 95px;
  width: 100%;
}

.twPc-block {
  display: block !important;
}

.twPc-button {
  margin: -40px -10px 0;
  text-align: right;
  width: 100%;
}

.twPc-avatarLink {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float: left;
  margin: -20px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
}

.twPc-avatarImg {
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 72px;
  width: 72px;
}

.twPc-divUser {
  margin: 10px 0 0;
}

.twPc-divName {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.twPc-divName a {
  color: inherit !important;
}

.twPc-divStats {
  margin-left: 11px;
  padding: 10px 0;
}

.twPc-Arrange {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}

ul.twPc-Arrange {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.twPc-ArrangeSizeFit {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}

.twPc-ArrangeSizeFit a:hover {
  text-decoration: none;
}

.twPc-StatValue {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}

.twPc-StatLabel {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}

/* twitter card */

.whatsnew {
  font-family: Poppins-Bold;
  font-size: 30px;
  font-weight: bold;
}

#exampleFormControlTextarea1 {
  height: auto;
  margin-top: 0px;
}

#whatshap {
  margin-left: -80px;
  margin-top: 110px;
}

.btn.btn-primary.tweet {
  margin-top: 15px;
  background-color: blue;
}

.trending {
  margin-left: 35px;
  margin-top: 30px;
}

.trendslist {
  margin-top:20px;
  width: 75%;
}