<h2 style="padding-top:100px;">Create Tweet</h2>
<div style="padding-top:50px;">
<form action="create_tweet" method="POST">
  <div class="container">

    <hr>

    <label><b>Description</b></label>
    <input type="text" placeholder="Enter tweet" name="description" >
    <button type="submit">TWEET</button>

</form>
</div>
