<%# Twitter style card start %>
<div class="col-md-4 col-sm-6">


<%# All the tweets %>
<%# <h1 style="padding-top:100px;text-align:center;">All the tweets</h1> %>



<div class="twPc-div">
    <a class="twPc-bg twPc-block"></a>

	<div>
		<div class="twPc-button">
    <%# follow button %>
            <button type="button" class="btn btn-primary btn-sm">#Follow</button>
    <%# follow button %>
		</div>


		
		<a title="Mert S. Kaplan" href="https://twitter.com/" class="twPc-avatarLink">
			<img alt="Mert S. Kaplan" src="https://i.pravatar.cc/" class="twPc-avatarImg">
		</a>

		<div class="twPc-divUser">
			<div class="twPc-divName">
				<a href="https://twitter.com/">Jane Doe</a>
			</div>
			<span>
				<a href="https://twitter.com/">@<span>janedoe</span></a>
			</span>
		</div>

		<div class="twPc-divStats">
			<ul class="twPc-Arrange">
				<li class="twPc-ArrangeSizeFit">
					<a href="https://twitter.com/" title="9.840 Tweet">
						<span class="twPc-StatLabel twPc-block">Tweets</span>
						<span class="twPc-StatValue">10K</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a href="https://twitter.com/" title="885 Following">
						<span class="twPc-StatLabel twPc-block">Following</span>
						<span class="twPc-StatValue">1,267</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a href="https://twitter.com/" title="1.810 Followers">
						<span class="twPc-StatLabel twPc-block">Followers</span>
						<span class="twPc-StatValue">2.3M</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<%# twitter style card end %>
<%# trends %>
<div class="trending">
<h3 class="whatsnew">Trending</h3>


<%# see tweets %>
		<a href="/tweets"><h2 style color="#009EFF">See tweets</h2></a>




<ul class="list-group trendslist">
  <li class="list-group-item"><a href="https://twitter.com/">#<span>tasty</span></a></li>
  <li class="list-group-item"><a href="https://twitter.com/">#<span>showerthoughts</span></a></li>
  <li class="list-group-item"><a href="https://twitter.com/">#<span>goodvibes</span></a></li>
  <li class="list-group-item"><a href="https://twitter.com/">#<span>TBT</span></a></li>
  <li class="list-group-item"><a href="https://twitter.com/">#<span>ketoeats</span></a></li>
  <li class="list-group-item"><a href="https://twitter.com/">#<span>solitude</span></a></li>
  <li class="list-group-item"><a href="https://twitter.com/">#<span>foodies</span></a></li>
  <li class="list-group-item"><a href="https://twitter.com/">#<span>recipe</span></a></li>
</ul>
</div>

</div>


<div class="col-md-4 col-sm-6">
<div id="whatshap" class="form-group">
<h1 class="whatsnew">What's New</h1>
<form>
    <label for="exampleFormControlTextarea1"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="What's happening?" rows="3"></textarea>
    <button type="button" class="btn btn-primary tweet">Tweet</button>
</form>
<%# <a href="/create_tweet"><h2>create post</h2></a> %>

</div>
</div>